*{
	margin: 0;
	padding: 0;

}

#section{
	width: 100%;
	height: 100vh;
	background-color:#3333;
	background-image: url(img.jpg);
	background-size: cover;
   display: flex;
}
.div{
	width: 400px;
	height: 600px;
	background-color:blue;
	margin-left: 40%;
	margin-top: 180px;

}
.div h1{
	margin-left: 35%;
	margin-top: 20px;
}
.div hr{
	margin-top: 10px; 
}
.div input{
	background-color: red;
	width: 99%;
	margin-top: 20px;
	margin-bottom: 10px;

}
.button{
	width: 100px;
	height: 50px;
	border-radius: 15px;
	margin-left: 35%;
	margin-top: 20px;
	background-color: yellow;

}
.button:hover{
	background-color: green;
}